body { width: 970px;
	margin-left: auto;
    margin-right: auto;
	}

section {}
article {}
header {
	text-align: left;
	text-indent: 20%;
	border: 1px solid gray;
	border-collapse: collapse;
}
footer {
	clear: both;
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 5px;

}
